<div class="edit">
    <h1>編集画面</h1>
    <% if @book.errors.any? %>
    <%= @book.errors.count %>error sprohibited this book from being saved
    <% @book.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <% end %>
    <%= form_with model:@book, local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>感想</h4>
    <%= f.text_area :body %>
    <div class="save">
    <%= f.submit 'Update Book', class:"save-link" %>
    </div>
    <ul class="link">
    <li><%= link_to 'Show', book_path(@book.id), class:"link-edit" %></li>
    <li><%= link_to 'Back', books_path, class:"link-destroy" %></li>
    </ul>
  <% end %>
</div>
